/* * {
     border: 1px solid red; 
} */

#calc-screen {
    width: 220;
    height: 50px;
    background-color: darkgray;
    border: 1px solid black;
    margin: 10px;
    margin-top: 10px;
    padding: 5px;
}

#calc-body {
    width: 280px;
    height: 420px;
    background-color: darksalmon;
    padding-top: 10px;
}
#container {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 250px;
}
.nine-digits-style {
    /* width: auto; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

.operator-buttons-style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-left: 5px;

}

.digit-buttons {
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.numbers {
    font-style: italic;
}

.operators {
    font-weight: bold;
}

.clear {
    width: 118px;
    margin: 10px;
    padding: 10px;
    background-color: blueviolet;
}